<div>
<footer id="Contact"  class="bg-dark">
    <h2 class="text-center text-white">Contact</h2>
    <div >
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <ul class="navbar-nav text-cente d-flex gap-5r">
            <li class="nav-item mx-4">
                <a class="nav-link d-block"href="https://www.linkedin.com/in/germán-anguiano-267817327" target="_blank">Linkedin <i class="bi bi-linkedin"></i></a>
                 <small class="text-white d-block">Germán Anguiano</small>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link d-block" href="https://www.discordapp.com/users/adriananguiano" target="_blank">Discord <i class="bi bi-discord"></i></a>
                <small class="text-white d-block">adriananguiano</small>
            </li>
            <li class="nav-item mx-4">
                 <a class="nav-link d-block" href="https://github.com/German-99" target="_blank">Github <i class="bi bi-github"></i></a>
                  <small class="text-white d-block">German-99</small>
            </li>
        </ul>
</nav>
      
     </div> 
 </footer>
</div>