* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1699891730676-037bed3c1bed?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    
}

#Header {
     mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    position:sticky;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}

#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 400%


}

nav > ul {
    margin: 5px 0;
    background: transparent;
    display: flex;
}

#nav-item {
  background-color: #272e33;
  padding: 7px;
  margin: 1em auto;
  width: 10%;
  border-radius: 50px;
  text-align: center;
  list-style: none;
}

 a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-decoration: none;
    background: transparent;

}

h2 {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 1%;

}

#top-img {
     width: 25em;
     height: 25em;
     border-radius: 50%;
     border: 6px solid aqua;
     margin-top: 1%;
     margin-left: auto;
     margin-right: auto;
     display: block;
     object-fit: cover;
 
}

.about-ex {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#about-p  {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    text-justify: inter-word;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 35%;
    padding-right: 35%;

    
}

.github {
     display: flex;
     align-items: center;
     justify-content:center;     
     padding: 50px; 
     gap: 50px;
}



#git-img {
     width: 25em;
     height: 25em;
     border-radius: 80%;
     display:block;
     object-fit: cover;
     background-color: white;
     justify-content: right;
     position: static;
}

.info {
     display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-ex {
     
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-justify: inter-word;
     margin-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.link-git {
    color: white;
    font-size: 200%;
    text-decoration: underline;
}

.margin-title {
     scroll-margin-top: 170px;
}

footer {
    background-color: black;
    padding-bottom: 40px;
}

#social-medias {
    display: flex;
     align-items: center;
     justify-content:center; 
     gap: 500px;
     list-style-type: none;
     padding-top: 1%;
    

}

#social-column {
    display: flex;
    flex-direction: column;
    text-align: center;
     gap: 5px;
     font-family: Arial, Helvetica, sans-serif;
}

#contact-title {
    padding-left: 2%;
}

#hover-link:hover {
     color: aqua;
}

.master-item:hover {
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}

.cont-mast {
    position: relative;
}



#backBtn {
    position: absolute;
    top: 1px;
    left: 10px;
    padding: 5px 10px;
    z-index: 11;
}

.hidden-md-down{
    display: none;
}

.hidden-mobile {
    display: none !important;
}

@media (min-width: 768px) {
    .hidden-mobile {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .master {
        display: block;
    }
}

@media (max-width: 767px) {
    .detail {
        display: none;
    }
}

