{% extends "layout.html" %}
{% block content %}
<div class="container-fluid text-center text-white">
  <h1>{{project.title}}</h1>
</div>
<div class="container bg-dark text-white py-3 my-3">
  <p>Date: {{project.date}} </p>
  <p class="mb-1">Github link: <a href="{{project.url}}">{{project.url}}</a></p>
  <div class="container-fluid w-100 pt-2">
    <div class="row">
      <div class="col-auto ps-0">
        <p class="mb-1">Technologies:</p>
      </div>
       <div class="col d-flex align-items-center">
          {% for lenguage in project.lenguages.all %}
          <div class="d-flex align-items-center me-4"> 
            <img class="me-1" src="{{lenguage.icon.url}}" alt="" width="25" height="25">
            <span>{{lenguage.choice}}</span>
          </div>                
          {% endfor %}  
        </div>
    </div>
  </div>
  <div class="container w-75 text-center pt-2 align-items-center">
    <p class="pt-2">{{project.largeDescription}}</p>
    <img class="img-fluid pt-2" src="{{project.gif.url}}" alt="" width="710" height="400" >
  </div>
</div>
{% endblock %}
