
{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
            <h1 class="text-center col-sm-12 col-md-12 col-lg-12 mt-4 text-white">Projects</h1>

            {% for project in projects %}
            <div class="card bg-dark container w-75 py-3 my-2" style="max-width: 3000px;">
                <div class="row g-0 align-items-center">
                    <div class="col-md-4 col-12 d-flex justify-content-center align-items-center">
                        <img  src="{{project.image.url}}" class="img-fluid rounded" style="object-fit: contain;" alt="img-project">
                    </div>
                     <div class="col-md-8 col-12">
                        <div class="card-body">
                            <h3 class="card-title text-white"><a class="text-white" href="{% url 'blog:project_detail' project.id %}">{{ project.title }}</a></h3>
                            <p class="text-white">Github link: <a href="{{project.url}}<">{{project.url}}</a></p>
                            <p class="text-white">{{project.description}}</p>
                            <div class="contasiner">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <p class="text-white mb-2">Technologies:</p>
                                    </div>
                                    <div class="col d-flex align-items-center flex-wrap">
                                        {% for lenguage in project.lenguages.all %}
                                        <div class="d-flex align-items-center me-4 mb-2"> 
                                            <img class="me-1" src="{{lenguage.icon.url}}" alt="" width="25" height="25">
                                            <span class="text-white">{{lenguage.choice}}</span>
                                        </div>                
                                        {% endfor %}  
                                    </div>
                                    <p class="card-text"><small class="text-white">
                                        {% if project.date %}
                                            <p>Date: {{project.date}} </p>
                                        {% endif %}
                                    </small></p>
                                </div>
                            </div>
                           
                            </p>
                        </div>
                     </div>
                </div>
            </div>
            {% endfor %}
{% endblock %}
