{% extends "layout.html" %}

{% block title %}Certifications{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center col-sm-12 col-md-12 col-lg-12 my-4 text-white">Certifications</h1>
    </div>
</div>

<div class="container-fluid cont-mast">
    <div class="col-12 col-md-3 master">
        {% for certification in certifications %}
            <div class="card bg-dark text-white mb-3 px-1">
                 <div class="row py-3 align-items-center">
                    <div class="col-12 col-md-2 mb-3 text-center">
                         <img src="{{certification.lenguages.icon.url}}" class="img-fluid" alt="certificates" style="max-width: 40px;">
                    </div>
                    <div class="col-12 col-md-10 px-4">
                        <h5
                        class="card-title master-item"
                            data-title="{{ certification.title }}"
                            data-image="{{ certification.image.url }}"
                            data-lang="{{ certification.lenguages.choice }}"
                            data-lang-icon="{{ certification.lenguages.icon.url }}"
                            data-date="{{ certification.date }}"
                            data-desc="{{ certification.description }}"
                            data-url="{{ certification.url }}">
                             {{ certification.title }}
                        </h5>
                        <p class="card-text">{{ certification.description }}</p>
                    </div>
                 </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-9 detail" >
         <button id="backBtn" class="btn btn-primary d-md-none">back</button>
    </div>
</div>

{% endblock %}  
